.prj {
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 868px) {
    .prjlist {
        max-width: 65%;
    }

    .prj1text {
        width: 50%;
        margin-top: -180px;
        margin-left: 470px;
    }

    .prname {
        margin-left: 145px;
        color: var(--White, #FFF);
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
    }

    .prj1 img {
        width: 428px;
        height: 224px;
        margin-top: 74px;
        flex-shrink: 0;
    }

    .projects {
        padding-top: 230px;
        display: flex;
        justify-content: center;
    }

    .prj1title {
        color: var(--White, #FFF);
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .prj1body {
        margin-top: 32px;
        color: var(--White, #FFF);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

}

@media screen and (max-width: 868px) {
    .prjlist {
        width: 100%;
    }

    .prj1text {
        width: 100%;
    }

    .prname {
        color: var(--White, #FFF);
        font-family: Ubuntu;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
    }

    .prj1 img {
        width: 340px;
        height: 224px;
        margin-top: 15px;
        flex-shrink: 0;
    }

    .projects {
        padding-top: 30px;
        width: 95%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .prj1title {
        color: var(--White, #FFF);
        font-family: Ubuntu;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .prj1body {
        margin-top: 32px;
        color: var(--White, #FFF);
        font-family: Ubuntu;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

}

.prg1 {
    position: relative;
    margin-top: 100px;
}